<?xml version = "1.0" encoding = "utf-8"?> 
<hibernate-configuration> 
    <session-factory> 
  
        <!-- Set URL --> 
        <property name = 
"hibernate.connection.url">jdbc:mysql://localhost:3306/672602</property> 
  
        <!-- Set User Name --> 
        <property name = "hibernate.connection.username">root</property> 
   
         <!-- Set Password --> 
         <property name = "hibernate.connection.password">root</property> 
   
         <!-- Set Driver Name --> 
         <property name = 
"hibernate.connection.driver_class">com.mysql.jdbc.Driver</property> 
   
         <property name = "hibernate.show_sql">true</property>
         
         <!-- Change 'update' to 'create' to regenerate the table with AUTO_INCREMENT -->
         <property name="hibernate.hbm2ddl.auto">update</property>
   
     </session-factory> 
 </hibernate-configuration>
